body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

#banner {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgb(0, 0, 0)),
        url('../images/bannar-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner .banner-content {
    width: 50%;
}


#banner h1 {
    font-size: 60px;
}

#banner p {
    font-size: 18px;
    margin: 20px 0 40px;
}

.donate-button {
    background-color: #1e3799;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

#donate-today {
    padding: 100px;
}

#donate-today .donate-today-content {
    width: 50%;
    margin: auto;
    text-align: center;
}

.donate-today-content h2 {
    font-size: 42px;
}

.donate-today-content p {
    padding: 30px 0 50px;
}

.donate-today-content .donate-box {
    display: flex;
    justify-content: space-between;
}

.donate-today-content .donate-ammount {
    height: 100px;
    width: 100px;
    background: #edf1fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.donate-today-content .different-box {
    border: 2px solid #1e3799;
    color: #ffffff;
    background: #6a89cc;
}

.donate-today-content .donate-ammount h3 {
    font-size: 24px;
}

.donate-form {
    margin-top: 50px;
}

.donate-form input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #a3b4d8;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
}

#our-donate-plan {
    padding: 0 10% 100px;
}

.donate-plan-content {
    text-align: center;
    width: 50%;
    margin: auto;
}

.donate-plan-content h2 {
    font-size: 42px;
}

.donate-plan-content p {
    margin: 30px 0 50px;
}

.donate-plan-box {
    display: flex;
    justify-content: space-between;
}


.donate-plan-box .plan-box-content {
    width: 28%;
    padding: 80px 30px;
    border-radius: 5px;
}

.donate-plan-box .box-1 {
    background-color: #9ebdff;
}

.donate-plan-box .box-2 {
    background-color: #e0ffca;
}

.donate-plan-box .box-3 {
    background-color: #b6ecf9;
}

.plan-box-content h4 {
    margin: 30px 0;
    font-size: 24px;
}

#get-my-updates {
    margin: 0 25% 80px;

}

#get-my-updates .get-my-update-contents {
    text-align: center;
}

.get-my-update-contents h2 {
    font-size: 42px;
}

.get-my-update-contents p {
    margin: 20px 0 50px;
}

.get-my-update-contents .form {
    background: #9ebdff;
    margin: auto;
    padding: 100px;
    display: flex;
    align-items: center;
}

.get-my-update-contents .form input {
    width: 70%;
    padding: 17px;
    border: none;
    background: #e0ffca;
    border-radius: 5px 0 0 5px;
}

.get-my-update-contents .form .subscribe-button {
    width: 30%;
    background: #1e3799;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
}

footer {
    padding: 50px;
    background: black;
    color: #fff;
    text-align: center;
}

footer h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

footer p {}